* {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    width: 90%;
    height: 150px;
}

th, td {
    border: 1px solid black;
}

.bckBlue {
    background-color: blue;
}

.bckGreen {
    background-color: green;    
}

.bckYellow {
    background-color: yellow;
}

#header {
    font-family: Arial;
}

h1 {
    text-align: center;    
}

span {
    font-style: italic;
}

div {
    background-color: gray;
    border: 1px solid black;
    width: 400px;
    margin: 25px auto;
}

a, a:hover, a:visited {
    color: green;
}

tr:hover {
    font-size: 12px;
    cursor: pointer;
}

