body {
    background-color: #984abe;
}

h1 {
    color: red;
    text-align: center;
    font-family: cursive;
    font-size: 60px;
}

p {
    color: blue;
    font-weight: bold;
}

div {
    background-color: #ccc;
    
    /*
    border-style: solid;
    border-color: black;
    border-width: 1px;
    */
    border: 1px solid black;
    border-top-color: green;
    border-top-width: 3px;
    border-top-style: dashed;

    margin: 5px 10px 15px 20px;

    padding: 5px;
}

input {
    padding: 5px;
}